<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Day13</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="RegCtrl as ctrl">
    <h1>Day13</h1>
    <div style="padding: 30px">
        <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">
            <div class="form-group">
                <label for="firstname">First Name: </label>
                <input type="text" class="form-control" name="firstname" id="firstname" ng-model="ctrl.employee.firstname" required>
                <span class="help-block" ng-show="regForm.firstname.$invalid">Please enter first name</span>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name: </label>
                <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ctrl.employee.lastname" required>
                <span class="help-block" ng-show="regForm.lastname.$invalid">Please enter last name</span>
            </div>
            <div class="form-group">
                <label>Gender: </label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male" ng-model="ctrl.employee.gender" required>Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female" ng-model="ctrl.employee.gender" required>Female
                    </label>
                </div>
                <span class="help-block" ng-show="regForm.gender.$invalid">Please choose a gender</span>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday: </label>
                <input type="date" class="form-control" name="birthday" id="birthday" ng-model="ctrl.employee.birthday" required>
                <span class="help-block" ng-show="regForm.birthday.$invalid">Please enter birthday</span>
            </div>
            <div class="form-group">
                <label for="hiredate">Hire Date: </label>
                <input type="date" class="form-control" name="hiredate" id="hiredate" ng-model="ctrl.employee.hiredate" required>
                <span class="help-block" ng-show="regForm.hiredate.$invalid">Please enter hire date</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-success form-control" ng-disabled="regForm.$invalid">Register</button>
            </div>
        </form>
        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==202, 'alert-danger': ctrl.status.code==400}">
            <button class="close" data-dismissable="alert">x</button>
            {{ctrl.status.message}}
        </div>
    </div>
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</html>